Checks: '*,-fuchsia-*,-llvm-*,-google-*,-hicpp-*,-cppcoreguidelines-*,-llvmlibc-*,-readability-identifier-length,-misc-non-private-member-variables-in-classes'
CheckOptions:
  - key: bugprone-argument-comment.StrictMode
    value: 1
  - key: bugprone-exception-escape.FunctionsThatShouldNotThrow
    value: WinMain,SDL_main
  - key: readability-identifier-naming.IgnoreFailedSplit
    value: 0
  - key: readability-identifier-naming.CaseStyle
    value: CamelCase